<div class="container">
    <img src="../../assets/images/marketing-strategy.svg" alt="">
    <div class="welcome">
        <h1>Welcome to <b>ManageMe</b></h1>
        <p>Aplikacja do zarządzania projektami. Projekt reprezentowany jest przez listę funkcjonalności do
            zrealizowania. Do każdej z funkcjonalności można przypisać jedno lub więcej zadań.</p>
        <div class="welcome__auth d-grid gap-2">
            <button routerLink="/auth" class="btn btn-primary" type="button">Zaloguj się</button>
            <a (click)="goToRegister()">Nie posiadasz konta? Kliknij aby założyć!</a>
        </div>
    </div>
</div>