<div class="container">
    <h2>Wszystkie projekty</h2>
    <div class="row">
        <div class="col-md-4" *ngFor="let project of projects">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">{{ project.name }}</h3>
                    <p class="card-text">{{ project.description }}</p>
                    <button class="btn btn-primary" (click)="workOnProject(project)">Pracuj</button>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" (click)="toggleAddForm()">Nowy projekt</button>
        <div *ngIf="showAddForm">
            <app-add-project (projectAdded)="addProject($event)"></app-add-project>
        </div>
    </div>