<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Todo</h3>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let task of getTasksByStatus('todo')">
                    {{ task.name }}
                    <button class="btn btn-success btn-sm" (click)="moveTask(task, 'doing')">Move to Doing</button>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Doing</h3>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let task of getTasksByStatus('doing')">
                    {{ task.name }}
                    <button class="btn btn-success btn-sm" (click)="moveTask(task, 'todo')">Move to Todo</button>
                    <button class="btn btn-success btn-sm" (click)="moveTask(task, 'done')">Move to Done</button>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Done</h3>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let task of getTasksByStatus('done')">
                    {{ task.name }}
                    <button class="btn btn-success btn-sm" (click)="moveTask(task, 'doing')">Move to Doing</button>
                </li>
            </ul>
        </div>
    </div>

    <div *ngIf="!showAddTaskForm" class="mt-3">
        <button class="btn btn-primary" (click)="toggleAddTaskForm()">Dodaj zadanie</button>
    </div>

    <app-add-task *ngIf="showAddTaskForm" (taskAdded)="addTask($event)"></app-add-task>

    <div *ngIf="showAddTaskForm" class="mt-3">
        <button class="btn btn-secondary" (click)="toggleAddTaskForm()">Anuluj</button>
    </div>
</div>