<div *ngIf="showAddFunctionality">
    <h2>Dodaj nową funkcjonalność</h2>
    <form (ngSubmit)="onSubmit()" class="my-4">
        <div class="form-group">
            <label for="name">Nazwa:</label>
            <input type="text" id="name" name="name" [(ngModel)]="newFunctionality.name" required class="form-control">
        </div>
        <div class="form-group">
            <label for="description">Opis:</label>
            <textarea id="description" name="description" [(ngModel)]="newFunctionality.description" required
                class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="priority">Priorytet:</label>
            <input type="text" id="priority" name="priority" [(ngModel)]="newFunctionality.priority" required
                class="form-control">
        </div>
        <div class="form-group">
            <label for="projectId">Projekt ID:</label>
            <input type="text" id="projectId" name="projectId" [(ngModel)]="newFunctionality.projectId" required
                class="form-control" readonly>
        </div>
        <div class="form-group">
            <label for="owner">Właściciel:</label>
            <input type="text" id="owner" name="owner" [(ngModel)]="newFunctionality.owner" required
                class="form-control">
        </div>
        <div class="form-group">
            <label for="status">Status:</label>
            <input type="text" id="status" name="status" [(ngModel)]="newFunctionality.status" required
                class="form-control" disabled>
        </div>

        <button type="submit" class="btn btn-primary">Dodaj</button>
    </form>
</div>